body {
    font-family: 'Red Hat Display', sans-serif;
    background: hsl(225, 100%, 94%);
    margin: 0px;
    padding: 0px;
}

/* Responsive for Mobile and Tablets */
/* Since I have frequently trouble with the responsive, i'm trying to
start with the mobile design first, should make things easier */
@media screen and (max-width: 1024px) { 

    body {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:0.1fr 2fr 0.2fr;
        grid-template-areas: 
        "."
        "content"
        ".";
        
    }


    #BackgroundDesktop {
        display: none;
    }

    #BackgroundMobile {
        
    }


    #container {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "CharacterPic"
        "TextBlock"
        "OfferBlock"
        "ButtonBlock";
        background-color: hsl(225, 100%, 98%);
       
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        justify-self: center;
        vertical-align: top;

        margin-bottom: 10%;

        max-width: 337.5px;
        max-height: 665.06px;
    }

    #CharacterPic {
        grid-area: CharacterPic;
        max-width: 337.5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    #TextBlock {
        grid-area: TextBlock;
    }

    #OfferBlock {
        grid-area: OfferBlock;
        display: grid;
        grid-template-columns: 1fr 1.5fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "icon annualplan change";
        background-color: hsla(224, 24%, 60%, 0.103);
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 10%;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        font-weight: 800;
    }

    #ButtonBlock {
        grid-area: ButtonBlock;
    }



    #MusicPic {
        grid-area: icon;
        position: relative;
    }

    #AnnualPlan {
        grid-area: annualplan;
        color: hsl(223, 47%, 23%);
        font-size: 1em;
    }
   
    #Price{
        grid-area: ButtonBlock;
        font-size: 0.8em;
        color:hsl(224, 23%, 55%);


    }

    #ChangeOption {
        grid-area: change;
        display: flex;
        vertical-align: middle;
        font-size: 1.1em;
        color: rgb(44, 44, 218);
        text-decoration: underline;
    }

    #AnnualPlanBlock {
        display: flex;
        align-self: center;
        flex-wrap: wrap;
        line-height: 5%;
        margin-left: 2%;
        justify-content: center;
    }

    #ChangeBlock {
        display: flex;
        align-self: center;
        justify-content: right;
        margin-right: 10%;
    }

    #PicBlock {
        display: flex;
        align-self: center; 
        justify-content: center;
        
    }



    #OrderSummary {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-weight: bolder;
        color: hsl(223, 47%, 23%);
    }





    #Description {
        display: flex;
        text-align: center;
        font-weight: bold;
        color: hsl(224, 23%, 55%);
        
    }


    #ButtonBlock {
        display: flex;
        flex-wrap: wrap;

    }



    #ButtonBlock {
        display:flex;
        justify-content: center;
        align-content: center;
    }
    #ProceedButton {
        background: hsl(245, 75%, 52%);
        color: hsl(225, 100%, 98%);
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1.2em;
        font-weight: 300;


        border-radius: 18px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        

        padding: 5%;
        width: 150%;
        height: 40%;

        margin-top: -10%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }


    #CancelButton {
        background: hsla(228, 100%, 98%, 0);
        color: hsl(224, 18%, 36%);
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1.1em;
        font-weight: 600;


        border-radius: 18px;
        border: none;

        

        width: 150%;
        height: 40%;

       
       


    }
}

/* Responsive for Desktops and Laptops */
/* Had no troubles this time, it's getting easier and easier after each projects */
@media screen and (min-width: 1024px) { 

    body {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:0.1fr 2fr 0.2fr;
        grid-template-areas: 
        "."
        "content"
        ".";
        
    }


    #BackgroundDesktop {
        
    }

    #BackgroundMobile {
        display: none;
    }


    #container {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "CharacterPic"
        "TextBlock"
        "OfferBlock"
        "ButtonBlock";
        background-color: hsl(225, 100%, 98%);
       
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        justify-self: center;
        vertical-align: top;

        margin-bottom: 10%;

        max-width: 387.5px;
        max-height: 745.06px;
    }

    #CharacterPic {
        grid-area: CharacterPic;
        max-width: 387.5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    #TextBlock {
        grid-area: TextBlock;
    }

    #OfferBlock {
        grid-area: OfferBlock;
        display: grid;
        grid-template-columns: 1fr 1.5fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "icon annualplan change";
        background-color: hsla(224, 24%, 60%, 0.103);
        margin-right: 5%;
        margin-left: 5%;
        margin-top: -10%;
        margin-bottom: 20%;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        font-weight: 800;
    }

    #ButtonBlock {
        grid-area: ButtonBlock;
    }



    #MusicPic {
        grid-area: icon;
        position: relative;
    }

    #AnnualPlan {
        grid-area: annualplan;
        color: hsl(223, 47%, 23%);
        font-size: 1em;
    }
   
    #Price{
        grid-area: ButtonBlock;
        font-size: 0.8em;
        color:hsl(224, 23%, 55%);


    }

    #ChangeOption {
        grid-area: change;
        display: flex;
        vertical-align: middle;
        font-size: 1.1em;
        color: rgb(44, 44, 218);
        text-decoration: underline;
    }

    #AnnualPlanBlock {
        display: flex;
        align-self: center;
        flex-wrap: wrap;
        line-height: 5%;
        margin-left: 2%;
        justify-content: center;
    }

    #ChangeBlock {
        display: flex;
        align-self: center;
        justify-content: right;
        margin-right: 10%;
    }

    #PicBlock {
        display: flex;
        align-self: center; 
        justify-content: center;
        
    }



    #OrderSummary {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-weight: bolder;
        color: hsl(223, 47%, 23%);
    }





    #Description {
        display: flex;
        text-align: center;
        font-weight: bold;
        color: hsl(224, 23%, 55%);
    }


    #ButtonBlock {
        display: flex;
        flex-wrap: wrap;

    }



    #ButtonBlock {
        display:flex;
        justify-content: center;
        align-content: center;
    }
    #ProceedButton {
        background: hsl(245, 75%, 52%);
        color: hsl(225, 100%, 98%);
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1.2em;
        font-weight: 300;


        border-radius: 18px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        

        padding: 5%;
        width: 150%;
        height: 40%;

        margin-top: -20%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }


    #CancelButton {
        background: hsla(228, 100%, 98%, 0);
        color: hsl(224, 18%, 36%);
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1.1em;
        font-weight: 600;


        border-radius: 18px;
        border: none;

        

        width: 150%;
        height: 40%;

       
       


    }
}

/* Hover for the Proceeding button, the cancel button and the Change link */
/* Also changed the cursor so it fit with the requested design */
#ProceedButton:hover {
    background: hsl(245, 48%, 60%);
    color: hsl(225, 6%, 59%);
    cursor: pointer;
}

#CancelButton:hover {
    color: hsl(225, 17%, 9%);
    cursor: pointer;
}

#ChangeOption:hover {
    color: hsl(245, 60%, 64%);
}